body{
    background-color: #C5EFFC;
    color:black;
    
    
}
h4{
    text-align:center;
}

hr{
    height:3px;
    border:none;
    border-top:2px solid black;
    width:80%;
}
table{
    margin-left:20%;
    margin-right:20%;
}

#salarybox{
    border:solid 2px black;
    background-color:#A4DBED;
    width: 30%;
    font-size:20px;
}

input{
    width:150px;
}

#resultchart{
    border:solid 2px black;
    margin:0 atuo;
    width:400px;
    height:400px;
    font-size:20px;
    background-color: #A4DBED;
}

#button{
   margin-bottom:10%;
    text-align:center;
}

.button{
    text-align: center;
    border:none;
    background:no-repeat top left;
    padding: 2px 8px;
    background-color:#C4DFE6;
    
}